<h1 style = "color: green;text-align: center"><b><u>Showing Post</u></b></h1>
<% @post_title = "Show" %>
<div class = "well">

  
    <div class ="shower">
      
        
      <p>
      	<strong>Title:</strong>
      	<%=@post.title %>
      </p>
      <p>
        <strong>Images:</strong>
          <%@post.images.each do |image|%>
          <%= image_tag(image.image.url(:thumb),class: "img-fluid img-thumbnail") %>
          <%end%>
      </p>

      <p>
      	<strong>Description:</strong>
      	<%= @post.description %>
      </p>
    
    <div class="like_dislike">
     <span>
          
      <%= link_to "Like", like_post_path(id: @post.id), method: :post, class: " text-success"%>
            
      <%= @post.votes.sum(:like) if @post.votes.present? %>
          
      <%= link_to "Dislike", dislike_post_path(id: @post.id), method: :post, class: "text-danger"   %>
            
      <%=  @post.votes.sum(:dislike) if @post.votes.present? %>
          
      </span>

    
    </div>
  


<h2><b><u>Comments</u></b></h2>
<div class = "commenter">
  <table clsss = "table">
    <% @post.comments.each do |comment| %>
    <lable>
      <p>
        <strong>Comment:</strong>
        <%= comment.comments%>
      </p>
    </lable>
      <p style = "color:pink" >this was created by<b> <%= comment.user.email %></b></p> 
    <% if comment.user_id == current_user.id || @post.user_id == current_user.id %>
      <span>
          <%= link_to 'Edit Comment',edit_post_comment_path(@post, comment), class: "btn btn-info" %>
            
          <%= link_to 'DestroyComment', [comment.post, comment],
                    method: :delete,
                    data: { confirm: 'Are you sure?' },class: "btn btn-outline-dark" %>
      </span>
    <% end %>
    <% end %>


    <h2 style="color:pink;">Give Your  Comment:</h2>

    <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>

      <div class="form-comment-group">

        <label>
        <p>
          <%= form.label :comments%><br>
          <%= form.text_field :comments,class: "form-control" %>
        </p>
      </label>
      

      </div>
        
        <p>
          <%= form.submit "submit",class: "btn btn-primary" %>
        </p>
    <% end %>
  </table>
  <span>
    <%= link_to "New Post", new_post_path,method: 'get',class: "btn btn-success btn-lg"%>			
    <%= link_to "Back",posts_path,class: "btn btn-info btn-lg"%>
  </span>
</div>
</div>


</div>
